<!-- ADMIN VIEW -->
<div *ngIf="isAdmin">

  <div class="toolbar">
    <button (click)="toggleView()" class="toggle-btn">
      {{ tableView ? "Switch to Card View" : "Switch to Table View" }}
    </button>
  </div>

  <div class="view-wrapper">
    @if (tableView) {
    <app-user-table-list [users]="users"></app-user-table-list>
    <!-- <app-user-table [users]="users"></app-user-table> -->
    } @else {
    <app-user-card-list [users]="users"></app-user-card-list>
    }
  </div>

</div>

<!-- NORMAL USER
<div *ngIf="!isAdmin" class="center-box">
  <button class="toggle-btn" (click)="updateSelf()">
    Update My Profile
  </button>
</div> -->