<h2 class="page-title">{{ title }}</h2>

<div class="toolbar">
  <button class="toggle-btn" (click)="toggleView()">
    <span class="material-icons">
      {{ tableView ? "grid_view" : "table_rows" }}
    </span>
  </button>
</div>

@if (tableView) {
  <app-course-view-table-list [courses]="courses"></app-course-view-table-list>
} @else {
  <app-course-view-card-list
    [courses]="courses"
    [wishlist]="wishlist"
    [isAdmin]="auth.isAdmin()"
    (bookingEvent)="onBookCourse($event)"
    (wishingEvent)="onAddToWishList($event)"
  ></app-course-view-card-list>
}

